.apresentacao {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome,
.profissao {
    font-size: 15px;
}

.nome {
    color: #B131FF;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid white;
    max-width: min-content;
    padding-right: .5rem;
}

.animacao {
    animation: typewriter 4s steps(40) infinite alternate,
    blink 800ms steps(40) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    from {
        border-color: white;
    }

    to {
        border-color: transparent;
    }
}

@media screen and (min-width: 374px) {

    .nome,
    .profissao {
        font-size: 24px;
    }

    .texto {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {

    .nome,
    .profissao {
        font-size: 30px;
    }

    .texto {
        font-size: 24px;
    }
}