.container {
    color: white;
}

.meu_container {
    margin-top: 2rem;
}

.titulo {
    color: #D3AEFF;
}

@media screen and (min-width: 425px) {
    .titulo {
        font-size: 28px;
    }

    .conteudo_sobre {
        font-size: 18px;
    }
}