@import "styles/variaveis";

.modo_escuro {
    width: 8.75rem;
    height: 3.438rem;

    &__input {
        display: none;
    }

    &__label {
        display: flex;
        justify-content: space-between;
        padding: 0.3125rem;
        border: 2px solid white;
        border-radius: 3.125rem;
        background-color: $color_button_dark;
    }

    &__imagem {
        width: 2.8125rem;
        height: 2.8125rem;
        border-radius: 6.25rem;
        background-color: $color_button_dark;
    }
}

/* 
Copy
display: flex;
padding: 0.3125rem;
align-items: flex-start;
gap: 2.5rem;
*/