.modo_escuro {
    width: 8.75rem;
    height: 3.438rem;
}

.modo_escuro input {
    display: none;
}

.modo_escuro label {
    display: flex;
    justify-content: space-between;
    padding: 0.3125rem;
    border: 2px solid white;
    border-radius: 3.125rem;
    background-color: #071169;
}

.modo_escuro img {
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 6.25rem;
    background-color: #071169;
}