.home {
    display: flex;
    justify-content: center;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 425px) {
    .home {
        margin: 2rem;
    }
}

@media screen and (min-width: 850px) {
    .home {
        margin: 4rem;
    }
}

@media screen and (min-width: 1000px) {
    .home {
        margin: 0 8rem;
    }
}